
@import url('https://fonts.googleapis.com/css?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900|Titillium+Web&display=swap');
body{
    background-color: #ddd;
}
.card4 {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    align-items: center;
    -webkit-font-smoothing: antialiased;
    justify-content: center;
    background-color: white;
    font-family: 'Exo 2', sans-serif !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 14px 28px, rgba(0, 0, 0, 0.25) 0px 10px 10px;
}

.divider4 {
    
    width: 100%;
    position: relative;
}

.divider4 .shadow4 {
    overflow: hidden;
    height: 20px;
}

.divider4 .shadow4:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    /*border-radius: 125px/12px;*/
    box-shadow: 0 0 8px #0000003b;
}

#customers4 {
    border-collapse: collapse;
    width: 100%;
}

#customers4 tr:nth-child(even) {
    background-color: transparent;
    border: hidden;
    font-weight: 300;
}
#customers4 th.main_title4 {
    font-size: 15px;
    color: #0083e6;
    font-weight: 600;
    position: sticky;
    text-align: left;
    padding-left: 81px;
    padding-top: 8px;
}
#customers4 th {
    text-align: center;
    border: hidden;
    color: #999999;
    font-size: 12px;
    font-weight: 400;
}
input[type=value4] {
    background: #ffffff;
    border: solid 1px #0083e6;
    border-radius: 5%;
    width: 22%;
    margin: auto;
    font-size: 15px;
    
    
    

}
 .mini_title4{
    text-align: center;
    color: #999999;
    font-size: 15px;
    font-weight: 400;
    margin-top: 1px;
    margin-bottom: 20px;
}
.mini_title4:hover{
    color: #0083e6;
    
}



 #value_labelTemp4 {
    text-align: center;
    margin: 0%;
    align-items: center;
    text-align: right;
} 

.input_n_unit4 input,
.input_n_unit4 small {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    text-align: center;
}
.input_n_unit4 small{
    color:  #0083e6;
    font-size: medium;
    
}
#value_labelTemp4 {
    text-align: center;
    align-items: center;
}


/*** exception styling********************/


 
  .card {
    width: 100%;
      height: 100%;
      display: block;
      font-weight: bold;
      color: #999999;
      margin-top: 30px;
      -webkit-font-smoothing: antialiased;
      background-color: white;
      font-family: 'Exo 2', sans-serif !important;
     box-shadow: rgba(0, 0, 0, 0.2) 0px 14px 28px, rgba(0, 0, 0, 0.25) 0px 10px 10px;
  }

   /* datetime input box */
   .date_input {
    width: 28%;
    height: 22px;
    display: block;
    margin: 6px auto ;
    border: solid 1px #0083e6;
    border-radius: 5%;
    background: #ffffff;
    
  }
  
  /* #customers th {
    font-size: 15px;
    font-weight: 400;
    margin-top: 1px;

    uncomment and replace it with #customers td, #customers th to 
    increase the height of the card
  } */
  
  #customers {
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    
    border: 1px solid #ddd;
    padding: 2px;
    text-align: center;
    border: 1px solid #dddddd;
    border: hidden;
    font-size: 15px;
    font-weight: 400;
    
    
  }
  
  #customers tr:nth-child(even){
    background-color: transparent;
     border: hidden; }
  
  /* #customers tr:hover {background-color: #073d56c7;} */
  
  #customers th:hover {
      color: #0083e6;
  }
  #customers th{
    padding-top: 16px;
  }
  
  /* CSS */
  .button-3 {
  
    appearance: none;
    /* background-color: #305680; */
    background-color: #2196F3;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 20px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Titillium Web';
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  
  }
  
  
  .button-3:hover {
    background-color: #137ccf;
  
  }
  
  .button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  
  }
  
  .button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
      
  }
  
  .button-3:active {
    background-color: #305680;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  
  }
  a.navi{
        text-decoration: none;
        color: white !important;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 27px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 20px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
      border-radius: 20px;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
    border-radius: 20px;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    border-radius: 20px;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
    
  
  #container {
    background-position: 50% 50%;
 
   
  }
  
  #value_label{
      position: initial;
      top: 40px;
  }

 
  
  
  
  /* The slider itself */
  .slider0 {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 85%; /* Full-width */
    height: 25px; /* Specified height */
    /* background: #d3d3d3;  Grey background */
    /* background-image: linear-gradient(to right, white, green); */
    background: linear-gradient(to right, #d92525 50%, #31423399 50%);
    border-radius: 5px;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    position: initial;
  }
  
  /* The slider itself */
  .slider_round {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 65%; /* Full-width */
    height: 5px; /* Specified height */
    /*background: linear-gradient(to right, #d92525 50%, #31423399 50%);  Grey background */
    background: linear-gradient(to right, #0371c5, #ffffff);
    border-radius: 20px;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  /* The slider itself */
  .slider_round0Temp{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    /* background:linear-gradient(to right, #d92525 50%, #31423399 50%);  Grey background */
    background-image: linear-gradient(to right, green, yellow, orange, #2700ff);
    border-radius: 5px;
    background: linear-gradient(to right, #d92525 50%, #31423399 50%);
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider0:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  .slider_round0Temp:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  .slider_round:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
  .slider0::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: white; /* Green background */
  
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider0::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: white; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
  .slider_round::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background:  white; /*#0083e6;  Green background */
      border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
    box-shadow: 0px 0px 15px black;
  }
  
  .slider_round::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background:  #0083e6; /* Green background */
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider0Temp::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background:  white; /*#0083e6;  Green background */
      border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
    box-shadow: 0px 0px 15px black;
  }
  .slider0Temp::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background:  green; /*#0083e6;  Green background */
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
  }
  
  #value_labelTemp{
      position: initial;
      top: 40px;
  }
  
 

  .c {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    border-radius: 5px;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider0Temp:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
  .slider0Temp::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
  
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider0Temp::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: blue; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }


.stanby_cell{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 27px;
    text-align: center;
    align-items: center;
    text-align: right;
}

input[type=value8] {
    background: #ffffff;
    border: solid 1px #0083e6;
    border-radius: 5%;
    width: 100%;
    display: flex;
    margin: auto;
    font-size: 15px;
  }

  .input_n_unit input,
  .input_n_unit small {
      margin: 0;
      padding: 0;
      text-align: center;
  }
  .input_n_unit small{
      color:  #0083e6;
      font-size: medium;
      
  }

  select {
    width: 50%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }
  

  
 
  
  
  

  

  


  
 