@import url('https://fonts.googleapis.com/css?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900|Titillium+Web&display=swap');
body{
    background-color: #ddd;
}
.card4 {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    align-items: center;
    -webkit-font-smoothing: antialiased;
    justify-content: center;
    background-color: white;
    font-family: 'Titillium web', sans-serif !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 14px 28px, rgba(0, 0, 0, 0.25) 0px 10px 10px;
}

.divider4 {
    
    width: 100%;
    position: relative;
    
}

.divider4 .shadow4 {
    overflow: hidden;
    height: 20px;
}

.divider4 .shadow4:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    /*border-radius: 125px/12px;*/
    box-shadow: 0 0 2px #0000003b;
    
}

#customers4 {
    border-collapse: collapse;
    width: 100%;
}

#customers4 tr:nth-child(even) {
    background-color: transparent;
    border: hidden;
    font-weight: 300;
}
#customers4 th.main_title4 {
    font-size: 15px;
    color: #0083e6;
    font-weight: 600;
    position: static;
    text-align: left;
    padding-left: 78PX;
    padding-top: 0px;
}
#customers4 th.first_title4{
    font-size: 15px;
    font-weight: 1000;
    text-align: left;
    padding-left: 78PX;
   /* position: static; */
    padding-top: 8px;
    color: #999;
    
    
}

#customers4 th {
    text-align: center;
    border: hidden;
    color: #999999;
    font-size: 12px;
    font-weight: 400;
}

/*first input child*/
input[type=value_input4_first] {
    background: #ffffff;
    border: solid 1px #0083e6;
    border-radius: 5%;
    width: 70%;
    margin: auto;
    font-size: 15px;
}
input[type=value4] {
    background: #ffffff;
    border: solid 1px #0083e6;
    border-radius: 5%;
    width: 22%;
    margin: auto;
    font-size: 15px;
}




 .mini_title4{
    text-align: center;
    color: #999999;
    font-size: 15px;
    font-weight: 400;
    margin-top: 1px;
    margin-bottom: 20px;
}
.mini_title4:hover{
    color: #0083e6;
    
}
 #value_labelTemp4 {
    text-align: center;
    margin: 0%;
    align-items: center;
    text-align: right;
} 

.input_n_unit4 input,
.input_n_unit4 small {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    text-align: center;
}
.input_n_unit4 small{
    color:  #0083e6;
    font-size: medium;
    
}
#value_labelTemp4 {
    text-align: center;
    align-items: center;
}

.button-3 {
  
    appearance: none;
    /* background-color: #305680; */
    background-color: #2196F3;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 20px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Titillium Web';
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 4px 16px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    margin-bottom: 20px;
  }
  .button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  
  }
  
  
  .button-3:hover {
    background-color: #137ccf;
  
  }
  
  .button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  
  }
  
  .button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
      
  }
  
  .button-3:active {
    background-color: #305680;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  
  }
  a.navi{
        text-decoration: none;
        color: white !important;
  }
  
