/* Divider  */

.h-divider {
    margin: auto;
    width: 100%;
    position: relative;
  }
  
  .h-divider .shadow {
    overflow: hidden;
    height: 20px;
  }
  
  .h-divider .shadow:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/12px;
    box-shadow: 0 0 8px #0000003b;
  }
  
  
  
  /* Divider */
  
  
  .card {
      font-weight: bold;
      font-size: 32px;
      color: #999;
      width: 100%;
      height: 100%;
      display: block;
      margin-top: 30px;
      align-items: center;
      justify-content: center;
      background-color: white;
     
  }
  #customers {
    
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: center;
    border: 1px solid #dddddd;
    border: hidden;
    font-family: 'Titillium Web' !important;
  }
  
  #customers tr:nth-child(even){background-color: transparent; border: hidden; font-family: 'Titillium Web' !important;}
  
  /* #customers tr:hover {background-color: #073d56c7;} */
  
  #customers th {
      text-align: center;
      border: hidden;
      color: #999999;
      font-size: 12px;
      font-weight: 400;
      font-family: 'Titillium Web' !important;
  }
  
  /* CSS */
  .button-3 {
  
    appearance: none;
    /* background-color: #305680; */
    background-color: #2196F3;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 20px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Titillium Web';
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  
  }
  
  
  .button-3:hover {
    background-color: #137ccf;
  
  }
  
  
  .button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  
  }
  
  .button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  
      
  }
  
  .button-3:active {
    background-color: #305680;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  
  }
  a.navi{
        text-decoration: none;
        color: white !important;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 20px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
      border-radius: 20px;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
    border-radius: 20px;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    border-radius: 20px;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  
  
  
  /*   brightness ===============*/
  
  
  #container {
  
    background-position: 50% 50%;
    font-family: 'Titillium Web' !important;
   
  }
  
  #value_label{
      position: initial;
      top: 40px;
  }
  
  .slidecontainer {
      
   margin: auto;
    width: 100%; /* Width of the outside container */
    /*margin-left: 5%;*/
  
  }
  
  /* The slider itself */
  .slider0 {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 85%; /* Full-width */
    height: 25px; /* Specified height */
    /* background: #d3d3d3;  Grey background */
    /* background-image: linear-gradient(to right, white, green); */
    background: linear-gradient(to right, #d92525 50%, #31423399 50%);
    border-radius: 5px;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    position: initial;
  }
  
  /* The slider itself */
  .slider_round {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 65%; /* Full-width */
    height: 5px; /* Specified height */
    /*background: linear-gradient(to right, #d92525 50%, #31423399 50%);  Grey background */
    background: linear-gradient(to right, #0371c5, #ffffff);
    border-radius: 20px;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  /* The slider itself */
  .slider_round0Temp{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    /* background:linear-gradient(to right, #d92525 50%, #31423399 50%);  Grey background */
    background-image: linear-gradient(to right, green, yellow, orange, #2700ff);
    border-radius: 5px;
    background: linear-gradient(to right, #d92525 50%, #31423399 50%);
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider0:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  .slider_round0Temp:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  .slider_round:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
  .slider0::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: white; /* Green background */
  
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider0::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: white; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
  .slider_round::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background:  white; /*#0083e6;  Green background */
      border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
    box-shadow: 0px 0px 15px black;
  }
  
  .slider_round::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background:  #0083e6; /* Green background */
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider0Temp::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background:  white; /*#0083e6;  Green background */
      border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
    box-shadow: 0px 0px 15px black;
  }
  .slider0Temp::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background:  green; /*#0083e6;  Green background */
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
  }
  
  
  
  
  /* Temperature =============*/
  
  /* https://codepen.io/mukealicious/pen/jWoeZY */
  
  #value_labelTemp{
      position: initial;
      top: 40px;
  }
  
  .slidecontainerTemp {
      
   margin: auto;
    width: 100%; /* Width of the outside container */
    /*margin-left: 5%;*/
  
  }
  
  /* The slider itself */
  .slider0Temp {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 65%; /* Full-width */
    height: 5px; /* Specified height */
    /*background: #d3d3d3;  Grey background 
    background-image: linear-gradient(to right, green, yellow, orange, #2700ff); */
    background-image: linear-gradient(to right, #fd3a00, yellow, white, #0083e6);
    border-radius: 20px;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    position: initial;
  }
  
  /* The slider itself */
  .c {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    border-radius: 5px;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider0Temp:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
  .slider0Temp::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
  
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider0Temp::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: blue; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
  .slider_roundTemp::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background:  #0083e6; /* Green background */
      border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider_roundTemp::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background:  #0083e6; /* Green background */
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
  }
  
  /* LC Auto Button =============*/
  
  .switchLC input {
      /* First, we make it as wide as the container */
      position: absolute;
      width: 100%;
      height: 100%;
      /* Then, we put it on top of everything else */
      z-index: 100;
      /* Last, we make it invisible */
      opacity: 0;
      /* This one is just for ergonomy */
      cursor: pointer;
      margin-left: -20px;
      margin-top: 0px;
  }
  
  .switchLC {
      width: 40px;
      height: 40px;
      /* top: 50%; */
      transform: translate(0%, 0%);
      position: inherit;
      margin: auto;
      /* left: 50%; */
  }
  
  .switchLC label {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 50%;
      background: #eaeaea;
      box-shadow: 
          0 3px 5px rgba(0,0,0,0.25),
          inset 0 1px 0 rgba(255,255,255,0.3),
          inset 0 -5px 5px rgba(100,100,100,0.1),
          inset 0 5px 5px rgba(255,255,255,0.3);
  }
  
  .switchLC label:after {
      content: "";
      position: absolute;
      z-index: -1;
      top: -8%; 
      right: -8%; 
      bottom: -8%; 
      left: -8%;
      border-radius: inherit;
      background: #ddd; /* Fallback */
      background: linear-gradient(#ccc, #fff);
      box-shadow: 
          inset 0 2px 1px rgba(0,0,0,0.15),
          0 2px 5px rgba(200,200,200,0.1);
  }
  
  .switchLC label:before {
      content: "";
      position: absolute;
      width: 20%;
      height: 20%; 
      left: 40%;
      top: 40%;
      border-radius: inherit;
      background: #969696; /* Fallback */
      background: radial-gradient(40% 35%, #ccc, #969696 60%);
      /*
      box-shadow:
          inset 0 2px 4px 1px rgba(0,0,0,0.3),
          0 1px 0 rgba(255,255,255,1),
          inset 0 1px 0 white;
      */
      background: red;
      box-shadow: inset 0 3px 5px 1px rgb(0 0 0 / 10%), 0 1px 0 rgb(255 255 255 / 40%), 0 0 10px 2px #ff0000;
  }
  
  .switchLC input:checked ~ label { /* Button */
      background: #e5e5e5; /* Fallback */
      background: linear-gradient(#dedede, #fdfdfd);
  }
  
  .switchLC input:checked ~ label:before { /* LED */
      /*background: #25d025; 
      background: radial-gradient(40% 35%, #5aef5a, #25d025 60%);
      box-shadow:
          inset 0 3px 5px 1px rgba(0,0,0,0.1),
          0 1px 0 rgba(255,255,255,0.4),
          0 0 10px 2px rgba(0, 210, 0, 0.5);
      */
      background: #2196F3; /* Fallback */   
      background: radial-gradient(40% 35%, #2196F3, #2196F3 60%);
      box-shadow: inset 0 3px 5px 1px rgb(0 0 0 / 10%), 0 1px 0 rgb(255 255 255 / 40%), 0 0 10px 2px #2196f3;
  }
  
  
  
  
  
  
  
  /* 3-way Toggle Button =============*/
  
  
  .tri-state-toggle {
      background: rgba(165,170,174,0.25);
      box-shadow: inset 0 2px 8px 0 rgba(165,170,174,0.25);
      border-radius: 24px;
      display: inline-block;
      overflow: hidden;
      display: inline-flex;
      /* flex-direction: column; */
    transition: all 500ms ease; 
  }
  
  .tri-state-toggle-button {
      border-radius: 22px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      background-color: transparent;
      border: 0px solid transparent;
      margin: 2px;
      color: #727C8F;
      cursor: pointer;
    
  /*    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition:    all 0.5s ease-in-out;
    -ms-transition:     all 0.5s ease-in-out;
    -o-transition:      all 0.5s ease-in-out; */
    transition:         all 0.5s ease;
    font-size: smaller;
  }
  
  .tri-state-toggle-button.active {
      
      background-image: linear-gradient(-180deg, #2196f3 0%, #2196f3 81%, #2196f3 100%);
      
      
      /*background-image: linear-gradient(-180deg, #fff 0%, #FAFAFA 81%, #F2F2F2 100%);*/
      border: 1px solid rgba(207,207,207,0.6);
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
      /* color: #6744B1; */
      color: #FFFFFF;
      font-weight: 500;
    transition: all .5s ease-in;
    font-size: smaller;
  }
  
  .tri-state-toggle-button:focus {
    outline: none;
  }
  
  